---
layout: "page"
---

<style>
    :root {
        --header-bg: #000;
    }
    body {
        background: #000;
        color: #d1d1d1;
    }
    a {
        color: #ff3a3a;
        text-decoration: underline;
    }
    h1{
        color: red !important;
        text-shadow: 0 2px 8px rgba(255, 0, 0, 0.667) !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
        text-shadow: 0 2px 8px rgba(255, 255, 255, 0.667);
    }
    header {
        background: #000 !important;
        border-bottom: 2px solid #ffffff;
        box-shadow: 0 2px 12px rgba(255, 255, 255, 0.667);
    }
    .video-responsive {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
    }
    .video-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100vw;
    }
</style>

{{ content }}

{% assign video_url = page.video_url | default: nil %}
{% if video_url %}
  <div class="video-responsive">
    <iframe width="560" height="315" src="{{ video_url }}" title="Video" frameborder="0" allowfullscreen style="margin: 24px 0;"></iframe>
  </div>
{% endif %}