---
layout: "page"
---

<style>
    :root {
        --header-bg: #000;
    }
    body {
        background: #000;
        color: #d1d1d1;
    }
    a {
        color: #ff3a3a;
        text-decoration: underline;
    }
    h1{
        color: red !important;
        text-shadow: 0 2px 8px rgba(255, 0, 0, 0.667) !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
        text-shadow: 0 2px 8px rgba(255, 255, 255, 0.667);
    }
    header {
        background: #000 !important;
        border-bottom: 2px solid #ffffff;
        box-shadow: 0 2px 12px rgba(255, 255, 255, 0.667);
    }
</style>

{{ content }}