---
layout: "page"
---

<style>
    :root {
        --header-bg: #000;
        --header-border: #fff;
        --header-shadow: rgba(255,255,255,0.667);
    }
    body {
        background: #000;
        color: #d1d1d1;
    }
    a {
        color: #ff3a3a;
        text-decoration: underline;
    }
    h1{
        color: red !important;
        text-shadow: 0 2px 8px rgba(255, 0, 0, 0.667) !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
        text-shadow: 0 2px 8px rgba(255, 255, 255, 0.667);
    }
    header {
        background: #000 !important;
    }
    @media (max-width: 560px) {
      .hh2-video-responsive {
        max-width: 100%;
        overflow: hidden;
      }
      .hh2-video-responsive iframe {
        width: 100% !important;
        height: auto !important;
        display: block;
      }
    }
</style>

{{ content }}