---
layout: "page"
---

<style>
:root {
    --header-bg: rgb(15, 32, 20);
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: #18321f;
    color: #e6ffe6;
}
header {
    background-color:rgb(15, 32, 20) !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #a67c52;
}
a {
    color: #6ecf68;
}
.slide-left {
    position: relative;
    left: -220px;
    opacity: 0;
    animation: slide-left-anim 12s linear forwards;
}
@keyframes slide-left-anim {
    0% {
        left: -220px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes slide-right-anim {
    0% {
        right: -200px;
    }
    100% {
        right: 10px;
    }
}

.slide-right {
    animation: slide-right-anim 1s ease-out forwards;
}
</style>

{{ content }}

<script src="/scripts/mattpng.js"></script>