---
layout: "page"
---

<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<style>
    :root {
        --header-bg: rgb(57, 33, 105);
    }
    html {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Indie Flower', cursive, 'Segoe UI', Arial, sans-serif;
        font-weight: bolder;
        background-color: #111;
        background-image: url('{{ "/sSpaceBG.png" | relative_url }}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        color: #fff;
    }
    a {
        color: #00bfff;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        text-shadow: 0 0 2px #fff, 0 0 4px #00bfff;
    }
    header {
        background-color: rgb(57, 33, 105) !important;
    }
</style>

{{ content }}